<div class="header">
    <button (click)="goToPreviousMonth()">Prethodni Mesec</button>
    <span>{{ getCurrentMonthName() }}</span>
    <button (click)="goToNextMonth()">Naredni Mesec</button>
</div>

 <table>
    <tr  class="daniUNedelji">
        <td *ngFor="let dan of daniUNedelji" class="dan">
            {{dan}}
        </td>
    </tr>
    <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week" class="calendar-cell">
            <div *ngIf="day != null" (dblclick)="handleCellClick(currentDate.getFullYear(), currentDate.getMonth(), day)">
                <div class="date">{{ day }}</div>
                <div class="reservations" *ngIf="day != null">
                    <div *ngFor="let rezervacija of getReservationsForDate(currentDate.getFullYear(), currentDate.getMonth(), day)"
                    [ngClass]="{
                        'accepted-reservation': rezervacija.status?.status === 'prihvacen',
                        'waiting-reservation': rezervacija.status?.status === 'cekanje',
                        'rejected-reservation': rezervacija.status?.status === 'odbijen'}">
                        {{ rezervacija.predmet?.predmet }} ({{rezervacija.sala?.sala}})
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>


<button (click)="logout()">Logout</button>

<!-- <app-rezervacije-lista class="overlay" *ngIf="prikaz === true" [datum]="selectedDate" [rezervacije]="rezervacijeDan" [lista]="true"></app-rezervacije-lista> -->










