<app-meni></app-meni>

<div class="header">
    <button (click)="goToPreviousMonth()">Prethodni Mesec</button>
    <span>{{ getCurrentMonthName() }}</span>
    <button (click)="goToNextMonth()">Naredni Mesec</button>
</div>

<table>
    <tr class="daniUNedelji">
      <td *ngFor="let dan of daniUNedelji" class="dan">
        {{dan}}
      </td>
    </tr>
    <tr *ngFor="let nedelja of nedelje">
      <td *ngFor="let dan of nedelja" class="calendar-cell"
          [ngClass]="{
            'prazan-dan': dan === null,
            'prosli-datum': prosliDatum(trenutniMesec.getFullYear(), trenutniMesec.getMonth(), dan),
            'danas': danas(trenutniMesec.getFullYear(), trenutniMesec.getMonth(), dan)
          }">
        <div *ngIf="dan != null" (click)="handleCellClick(trenutniMesec.getFullYear(), trenutniMesec.getMonth(), dan)">
          <div class="date">{{ dan }}</div>
          <div class="reservations" *ngIf="dan != null"></div>
        </div>
      </td>
    </tr>
  </table>
  