<div class="container">
    <div class="rezervacija-detalji-container container-fluid">
        <div class="rezervacija-detalji p-4">
            <table class="table">
                <tr>
                    <td>Vreme Pocetka:</td>
                    <td>{{ rezervacija?.vremePocetka }}</td>
                </tr>
                <tr>
                    <td>Vreme Zavrsetka:</td>
                    <td>{{ rezervacija?.vremeZavrsetka }}</td>
                </tr>
                <tr>
                    <td>Datum Rezervacije:</td>
                    <td>{{ rezervacija?.datumRezervacije?.toLocaleDateString('en-GB') }}</td>
                </tr>
                <tr>
                    <td>Datum Slanja Zahteva:</td>
                    <td>{{ rezervacija?.datumSlanjaZahteva?.toLocaleDateString('en-GB') }}</td>
                </tr>
                <tr>
                    <td>Datum Obrade:</td>
                    <td *ngIf="proveriDatum()">{{ rezervacija?.datumObrade?.toLocaleDateString('en-GB') }}</td>
                    <td *ngIf="!proveriDatum()"></td>
                </tr>
                <tr>
                    <td>Predmet:</td>
                    <td>{{ rezervacija?.predmet?.predmet }}</td>
                </tr>
                <tr>
                    <td>Sala:</td>
                    <td>{{ rezervacija?.sala?.sala }}</td>
                </tr>
                <tr>
                    <td>Razlog Rezervacije:</td>
                    <td>{{ rezervacija?.podtipRezervacije?.tipRezervacije?.tip }} ({{ rezervacija?.podtipRezervacije?.podtip }})</td>
                </tr>
                <tr>
                    <td>Podnosioc zahteva:</td>
                    <td>{{ rezervacija?.profil?.username }} ({{ rezervacija?.profil?.zaposleni?.ime }} {{ rezervacija?.profil?.zaposleni?.prezime }})</td>
                </tr>
                <tr>
                    <td>Administrator:</td>
                    <td *ngIf="rezervacija?.admin">{{ rezervacija?.admin?.username }} ({{ rezervacija?.admin?.zaposleni?.ime }} {{ rezervacija?.admin?.zaposleni?.prezime }})</td>
                    <td *ngIf="!rezervacija?.admin"></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ rezervacija?.status?.status }}</td>
                </tr>
                <tr *ngIf="rezervacija?.status?.status == 'odbijena'">
                    <td>Razlog odbijanja:</td>
                    <td>{{ rezervacija?.razlogOdbijanja }}</td>
                </tr>
            </table>
        </div>
        <div class="button-container">
            <div *ngIf="rola !== null && rola.rola === 'admin' && rezervacija?.status?.status === 'cekanje'" class="obrada">
                <button (click)="obradiZahtev(1)" class="btn btn-primary">Prihvati</button>
                <button (click)="prikaziModal()" class="btn btn-danger">Odbij</button>
            </div>
            <button class="btn btn-primary" (click)="zatvoriProzor()">Zatvori</button>
        </div>
    </div>
</div>

<div class="modal" [ngStyle]="{ 'display': showModal ? 'flex' : 'none' }" id="rejectReasonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Razlog za odbijanje</h5>
          <button type="button" class="close" (click)="zatvoriModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea [(ngModel)]="razlogOdbijanja" class="form-control" placeholder="Unesite razlog za odbijanje"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitRazlogOdbijanja()">Potvrdi</button>
          <button type="button" class="btn btn-secondary" (click)="zatvoriModal()">Zatvori</button>
        </div>
      </div>
    </div>
  </div>