<div class="rezervacija-lista container-fluid" *ngIf="lista === true">
    <div class="header bg-light p-3 rounded-top">
        <h4 class="title">Rezervacija za {{ datum.toLocaleDateString('en-GB') }}</h4>
    </div>
    <div class="body p-4">
        <div class="detalji" *ngIf="rezervacije && rezervacije.length > 0; else noReservations">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let rezervacija of rezervacije"
                    [ngClass]="{
                    'accepted-reservation': rezervacija.status?.status === 'prihvacen',
                    'waiting-reservation': rezervacija.status?.status === 'cekanje',
                    'rejected-reservation': rezervacija.status?.status === 'odbijen'}">
                    <div class="detalji-list">
                        ({{ rezervacija.vremePocetka }} - {{ rezervacija.vremeZavrsetka }}) {{rezervacija.predmet?.predmet}} - {{rezervacija.sala?.sala}}
                    </div>
                    <div>
                        <button class="btn btn-info detalji-dugme" (click)="detaljiRezervacije(rezervacija)">Detalji</button>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template #noReservations>
            <p>Nema rezervacija za ovaj dan</p>
        </ng-template>
    </div>
    <div class="footer bg-light p-3 rounded-bottom d-flex justify-content-between">
        <div *ngIf="rola !== null && rola.rola === 'korisnik' && datum >= trenutniDatum">
            <button class="btn btn-success" (click)="dodajRezervaciju()">Dodaj Rezervaciju</button>
        </div>
        <button type="button" class="btn btn-secondary" (click)="zatvoriProzor()">Zatvori</button>
    </div>
</div>

<div class="rezervacija-detalji-container container-fluid" *ngIf="detalji === true">
    <div class="rezervacija-detalji p-4">
        <table class="table">
            <tr>
                <td>Vreme Pocetka:</td>
                <td>{{ rezervacija?.vremePocetka }}</td>
            </tr>
            <tr>
                <td>Vreme Zavrsetka:</td>
                <td>{{ rezervacija?.vremeZavrsetka }}</td>
            </tr>
            <tr>
                <td>Datum Rezervacije:</td>
                <td>{{ rezervacija?.datumRezervacije?.toLocaleDateString('en-GB') }}</td>
            </tr>
            <tr>
                <td>Datum Slanja Zahteva:</td>
                <td>{{ rezervacija?.datumSlanjaZahteva?.toLocaleDateString('en-GB') }}</td>
            </tr>
            <tr>
                <td>Datum Obrade:</td>
                <td *ngIf="proveriDatum()">{{ rezervacija?.datumObrade?.toLocaleDateString('en-GB') }}</td>
                <td *ngIf="!proveriDatum()"></td>
            </tr>
            <tr>
                <td>Predmet:</td>
                <td>{{ rezervacija?.predmet?.predmet }}</td>
            </tr>
            <tr>
                <td>Sala:</td>
                <td>{{ rezervacija?.sala?.sala }}</td>
            </tr>
            <tr>
                <td>Razlog Rezervacije:</td>
                <td>{{ rezervacija?.podtipRezervacije?.tipRezervacije?.tip }} ({{ rezervacija?.podtipRezervacije?.podtip }})</td>
            </tr>
            <tr>
                <td>Podnosioc zahteva:</td>
                <td>{{ rezervacija?.profil?.username }} ({{ rezervacija?.profil?.zaposleni?.ime }} {{ rezervacija?.profil?.zaposleni?.prezime }})</td>
            </tr>
            <tr>
                <td>Administrator:</td>
                <td *ngIf="rezervacija?.admin">{{ rezervacija?.admin?.username }} ({{ rezervacija?.admin?.zaposleni?.ime }} {{ rezervacija?.admin?.zaposleni?.prezime }})</td>
                <td *ngIf="!rezervacija?.admin"></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ rezervacija?.status?.status }}</td>
            </tr>
        </table>
    </div>
    <div class="button-container">
        <div *ngIf="rola !== null && rola.rola === 'admin' && rezervacija?.status?.status === 'cekanje'" class="obrada">
            <button (click)="obradiZahtev(1)" class="btn btn-primary">Prihvati</button>
            <button (click)="obradiZahtev(2)" class="btn btn-danger">Odbij</button>
        </div>
        <button (click)="zatvoriDetalje()" class="btn btn-primary">Zatvori</button>
    </div>
</div>

<!-- <div>
    <app-rezervacija *ngIf="dodaj" [date]="datum" [rezervacije]="rezervacije"></app-rezervacija>
</div> -->

