/* You can add global styles to this file, and also import other style files */


  .toast-success {
    background-color: #4caf50 !important;
    color: white; 
    border-radius: 5px; 
    padding: 28px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    font-size: 19px;
    margin-bottom: 5px !important;
  }

  .toast-error {
    background-color: #e60f0f !important;
    color: white; 
    border-radius: 5px; 
    padding: 28px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    font-size: 19px;
    margin-bottom: 5px !important;
  }

  .toast-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    margin-bottom: 10px;
  }
  
