.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
}








.custom-ng-select {
  width: 100%;
}

.custom-ng-select .ng-select-container {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: white; /* Bela pozadina */
}

.custom-ng-select .ng-dropdown-panel {
  max-height: 200px; /* Ograničite visinu padajuće liste */
  overflow-y: auto;  /* Dodajte vertikalno skrolovanje */
  background-color: white; /* Bela pozadina */
  border: 1px solid #ced4da; /* Dodajte okvir za padajuću listu */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Blaga senka za bolju vidljivost */
  z-index: 1000; /* Osigurajte da padajuća lista bude iznad ostalih elemenata */
}

.custom-ng-select .ng-option {
  padding: 8px 12px; /* Podesite padding za opcije */
}

.custom-ng-select .ng-option:hover {
  background-color: #f1f1f1; /* Svetlija boja za hover efekt */
}



