 .rezervacija {
  width: 30em;
  margin: 20px auto;
  margin-top: 0.1em;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.rezervacija-form {
  display: grid;
  flex-direction: column;
}

.dropdown {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.buttonPotvrdi {
  display: grid;
  justify-content: center;
}

.buttonZatvori {
  display: grid;
  justify-content: center;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
}

.button button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.button button:hover {
  background-color: #45a049;
}

.dropdown-check-list {
  display: inline-block;
  position: relative;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
  max-height: 20%;
  overflow-y: auto;
}

.dropdown-check-list .items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-check-list.open .items {
  display: block;
}

.dropdown-check-list.open .obrada {
  margin-bottom: 0.5em;
}

.error p {
  margin: 0;
}

.error strong {
  font-weight: bold;
} 

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1.2em;
  border-radius: 8px 8px 0 0; 
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  margin: 0 auto;
}
