<div class="meni">
  <app-meni></app-meni>
</div>



  <div class="sale">
    Rezervacije za {{datum | date:'yyyy-MM-dd'}}

    <div *ngIf="isAdmin()">
      <label for="statusFilter">Filtriraj po statusu:</label>
      <select id="statusFilter" (change)="onStatusFilterChange($event)">
        <option value="sve">Sve</option>
        <option value="cekanje">Na čekanju</option>
        <option value="prihvacena">Prihvaćeno</option>
        <option value="odbijena">Odbijeno</option>
        <option value="odjavljena">Odjavljeno</option>
      </select>
    </div>

    <table>
      <thead>
        <tr>
          <th>Sala/Vreme</th>
          <th *ngFor="let vreme of timeSlots">{{ vreme }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sala of sale">
          <td>{{ sala.sala }}</td>
          <ng-container *ngFor="let vreme of timeSlots">
            <td *ngIf="!isCellCovered(sala, vreme)" [attr.colspan]="getColSpan(sala, vreme)" (click)="onCellClick(sala, vreme)" 
            [class.disabled]="onemoguciInterakciju(sala, vreme)" class="time-cell">
              <div *ngIf="getReservationForCell(sala, vreme) as rezervacija" class="reservation" [ngClass]="{
                'prihvacena-rezervacija': rezervacija.status?.status === 'prihvacena',
                'cekanje-rezervacija': rezervacija.status?.status === 'cekanje',
                'odbijena-rezervacija': rezervacija.status?.status === 'odbijena',
                'odjavljena-rezervacija': rezervacija.status?.status === 'odjavljena' && isAdmin()}">
                  <div *ngIf="rezervacija.dogadjaj === null">
                    {{ rezervacija.predmet?.predmet }}
                  </div>
                  <div *ngIf="rezervacija.dogadjaj !== null">
                    Dogadjaj: {{ rezervacija.dogadjaj}}
                  </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div>
      <button (click)="vratiNizRezervacija()">Info</button>
    </div>   
  </div>
  <app-rezervacija *ngIf="izabranaCelija && !isCellReserved(izabranaCelija.sala, izabranaCelija.vreme)" [sala]="izabranaCelija.sala" [vremePocetka]="izabranaCelija.vreme" (formClose)="closeForm()"></app-rezervacija>
  <app-rezervacije-lista class="overlay" *ngIf="izabranaCelija && isCellReserved(izabranaCelija.sala, izabranaCelija.vreme) && isAdmin()" [rezervacija]="izabranaRezervacija" [rola]="rola"></app-rezervacije-lista>
  


  
  
