
/* .sale{
    overflow-y: auto;
} */








body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.meni {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7em;
    z-index: 1000; 
}

.sale {
    margin-top: 4.7em;
    overflow-x: auto; 
    overflow-y: auto;
    flex-grow: 1;
    height: calc(100vh - 4.7em); 
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    width: 100px;
}

th {
    background-color: #f4f4f4;
}

td {
    position: relative;
    height: 50px;
}

td:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.reservation {
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.reservation.pending {
    background-color: #ffcc00;
    border: 1px solid #cc9900;
    color: #000;
}

.reservation.accepted {
    background-color: #4CAF50;
    border: 1px solid #388E3C;
    color: #fff;
}

.reservation.rejected {
    background-color: #F44336;
    border: 1px solid #D32F2F;
    color: #fff;
}

.time-cell {
    position: relative;
}

.time-cell.disabled {
    pointer-events: none;
}

.prihvacena-rezervacija {
    background-color: lightgreen;
    margin-bottom: 0.3em;
  }

  .cekanje-rezervacija {
    background-color: #fddf49;
    margin-bottom: 0.3em; 
  }

  .odbijena-rezervacija {
    background-color: lightcoral;
    margin-bottom: 0.3em; 
  }

  .odjavljena-rezervacija {
    background-color: beige;
    margin-bottom: 0.3em; 
  }

  #statusFilter {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
  }

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: flex;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.filter-container select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
}

.filter-container select:hover {
    border-color: #888;
}

.filter-container select:focus {
    outline: none;
    border-color: #4CAF50;
}





