  <div class="menu-bar">
    <nav class="navigation-links">
      <div class="left-links">
        <!-- <div class="dropdown" (click)="toggleNotifications()">
          <a>Obaveštenja</a>
          <div class="dropdown-content" *ngIf="showNotifications">
            <ul class="notification-list">
              <li *ngFor="let notifikacija of notifikacije" (click)="odvediDoRezervacije(notifikacija)">
                {{ notifikacija.notifikacija }}
              </li>
            </ul>
          </div>
        </div> -->
        <a (click)="otvoriObavestenja()">Obaveštenja</a>
      </div>
      <div class="right-links">
        <a (click)="otvoriPocetnu()">Početna</a>
        <!-- <a (click)="otvoriRezervacije()">Rezervacije</a> -->
        <a (click)="otvoriMojeRezervacije()">Moje Rezervacije</a>
        <!-- <a (click)="logout()">Logout <img src="/assets/logout.png" alt=""></a> -->
        <a (click)="logout()">Logout</a>
      </div>
    </nav>
  </div>
  
