  <div class="menu-bar">
    <nav class="navigation-links">
      <div class="left-link">
        <div class="dropdown" (click)="toggleNotifications()">
          <a>Obaveštenja</a>
          <div class="dropdown-content" *ngIf="showNotifications">
            <ul class="notification-list">
              <li *ngFor="let notifikacija of notifikacije">{{ notifikacija.notifikacija }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-links">
        <a (click)="otvoriPocetnu()">Početna</a>
        <a (click)="otvoriRezervacije()">Rezervacije</a>
        <a (click)="logout()">Logout</a>
      </div>
    </nav>
  </div>
  
